<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/navbar.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.7/lib/sortable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.7/lib/draggable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.7/lib/droppable.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/javascripts/lists.js"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav id="navbar">
        <ul class="left">
            <li id="boards-nav">
                <i class="fas fa-clipboard-list"></i> Boards
            </li>
            <li id="search-nav">
                <div id="show-search-input"></div>
                <div class="search-icon"><i class="fas fa-search"></i></div>
            </li>
        </ul>
        <ul class="right">
            <li id="notifications-nav"><i class="fas fa-bell"></i></li>
            <li id="profile-nav">HL</li>
        </ul>
    </nav>

    <div id="content">
        <div id="list-form-container" class="table-cell-active">
                <button id="addColumnBtn" class="active">Add List Item</button>
                <form id="newColumnForm">
                    <input type="text" id="listTitleInput" value=""/>
                    <button id="newColSubmit" value="Submit Here">Add List</button>
                    <button id="closeColumnFormBtn">X</button>
                </form>
        </div>
    </div>

    <div class="card-info-modal">
        <div class="modal-background"></div>
        <div class="modal-info-container">
            <div id="close-modal-info-btn">X</div>
            <ul class="main">
                <li id="title-content">
                    <h3>Title</h3>
                    <span>in list bla</span>
                </li>
                <li id="labels-content">
                    <span>Labels</span>
                    <div class="labels-container">
                        <div class="label">hello <span class="del-label-btn">X</span></div>
                        <div contenteditable="true" id="label-input"></div>
                    </div>
                </li>
                <li id="description-content">
                    <span>Description</span>
                    <div id="description">hello</div>
                </li>
                <li id="comment-content">
                    <span>Add Comment</span>
                    <textarea id="comment"></textarea>
                </li>
                <li id="activity-content">
                    <span>Activity</span>
                    <div id="activity-container">
                    </div>
                </li>
            </ul>
            <div class="side"></div>
        </div>
    </div>
</body>