<!doctype html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/login.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/javascripts/login.js"></script>
</head>

<body>
    <section id="login">
        <h1>Login</h1>
        <form id="login-form">
            <label for="email">Email</label>
            <input type="text" name="email" id="login-email"/>
            <label for="password">Password</label>
            <input type="text" name="password" id="login-password"/>
            <input type="submit"/>
        </form>
    </section>

    <section id="registration">
        <h1>Registration</h1>
        <form id="registration-form">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="regist-firstname"/>
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="regist-lastname"/>
            <label for="email">Email</label>
            <input type="text" name="email" id="regist-email"/>
            <label for="password">Password</label>
            <input type="text" name="pw" id="regist-password"/>
            <input type="submit"/>
        </form>
    </section>
</body>


</html>