* {
    box-sizing: border-box;
    outline: none;
}

a {
    outline: none;
    text-decoration: none;
    color: inherit;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.active {
    display: block!important;
}

/** Board Content */
#board-content {
    width: 100%;
    min-height: 100%;
    background: #f8f9f9;

    padding: 1% 25% 10% 25%;
}

.team {
    width: 750px;
    margin-top: 50px;
    /* background: #fff; */

    display: block;
}

.team-heading {
    width: 100%;
    height: fit-content;
    /* border-bottom: 1px solid black; */

    padding-left: 10px;
    margin-bottom: 10px;
}
.team-heading .team-name {
    margin-left: 30px;
    font-size: 22px;
    font-weight: bold;
}

.add-member {
    position: relative;
    margin-left: 30px;
    padding: 0 10px;
    border: 1px solid grey;
    border-radius: 5px;

    display: inline-block;
    box-sizing: border-box;
}

.add-member:hover {
    cursor: pointer;
    background: rgba(0,0,0,.2);
}

.team-content {
    width: 100%;
    min-height: 100px;

    font-size: 0;
}

.board-icon {
    width: 170px;
    height: 100px;
    background: #40a35b;
    border: 0;
    border-radius: 6px;

    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    word-break:break-all;
    color: white;
}

.board-icon a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.board-icon:hover {
    background: #2c7340;
}
.create-new-board-btn:hover {
    background: rgba(0,0,0,0.6);
}
.board-icon:nth-child(n+2) {
    margin-left: 22.5px;
}
.board-icon:nth-child(4n+1) {
    margin-left: 0;
}
.board-icon:nth-child(n+5) {
    margin-top: 25px;
}

/** Board Creation Modal */
.board-creation-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 100%;
    display: none;
}

.modal-background {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
}

.modal-content {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);

    width: 400px;
    height: 150px;
    background: white;
    border: 1px solid black;
}

.input-container {
    position: relative;
    width: 295px;
    height: 100px;
    border: 1px solid black;

    padding: 5px;
}
.input-container #board-title {
    width: 230px;
    font-size: 20px;
}
.input-container #modal-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 20px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}

.board-background-options {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    font-size: 0;
}
.board-background-options .options-icon {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
}
.board-background-options .options-icon:nth-child(n+4) {
    margin-top: 5px;
}
.board-background-options .options-icon:nth-child(n+2) {
    margin-left: 5px;
}
.board-background-options .options-icon:nth-child(3n+1) {
    margin-left: 0;
}

#create-board-btn {
    margin-top: 5px;
    width: 120px;
    height: 35px;
    border-radius: 5px;
}

.create-new-board-btn {
    background: grey;
}

/** Team Creation Form */
#create-new-team-btn {
    margin: 0;
    margin-top: 50px;
}

.team-creation-container {
    position: absolute;
    width: 300px;
    background: white;

    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 10px;
    text-align: center;

    display: none;
}

.team-creation-container #form-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 32px;
    height: 32px;

    cursor: pointer;
    padding-top: 2px;
}

.team-creation-container h2 {
    margin: 0;
    border-bottom: 1px solid grey;

    padding: 2px 0 8px 0;
    font-size: 18px;
    font-weight: normal;
}

#new-team-form {
    text-align: left;
}

#new-team-form p {
    margin: 10px 0 5px 10px;
    font-size: 14px;
}

#team-title-input,
#team-description-input {
    width: 100%;
    display: block;
    font-size: 14px;

    border-radius: 5px;
    border: 0;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

#team-title-input {
    height: 34px;
    padding: 0 5px;
}

#team-description-input {
    height: 70px;
    padding: 5px;
    resize: vertical;
}

#create-team-btn {
    box-sizing: content-box;
    margin-top: 20px;
    width: 92px;
    height: 34px;
}




/****************/
/*  add member  */
/****************/

#member-form {
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -1px;

    width: 390px;

    border: 1px solid black;
    border-radius: 5px;
    background: #fff;

    padding: 10px;
}

#member-name-input {
    position: relative;
    z-index: 2;

    width: 300px;
    border: 1px solid black;
    padding: 10px;
}

#member-form-submit {
    position: relative;
    z-index: 2;

    display: inline-block;
    margin-left: 10px;

    border: 1px solid black;
    border-radius: 5px;
}

#member-options {
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -1px;
    width: 392px;
    margin: 0;

    border: 1px solid black;
    border-radius: 5px;
    background: white;

    list-style-type: none;
    padding: 50px 0 10px 10px;

    cursor: default;
}

.member-option {
    width: 300px;
    border: 1px solid black;
    border-top: 0;
    padding: 10px;
}

.member-option:first-child {
    border-top: 1px solid black;
}

.member-option:hover {
    background: rgba(0,0,0,.2);
    cursor: pointer;
}