.active {
    display: block;
}

#navbar * {
    box-sizing: border-box;
}

#navbar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;

    height: 40px;
    background: #40a65c;
}

.left,
.right {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.left {
    float: left;
    padding-left: 4px;
}

.right {
    float: right;
    padding-right: 4px;
}

.right li,
.left li {
    display: inline-block;
    vertical-align: top;
    padding: 7px;
    margin: 4px 0 4px 0px;
    border-radius: 3px;
    font-size: 16px;
    background: #7fc291;
    color: white;

    min-width: 32px;
    min-height: 32px;
    text-align: center;
}

.left i,
.right i {
    margin: 0;
    padding: 0;
    border: 0;
}

#profile-nav {
    border-radius: 100%;
    background: #d6dadc;
    color: #444444;
}

#boards-nav {
    width: 90px;
}
#boards-nav i {
    margin-left: 3px;
    margin-right: 8px;
}

#home-nav,
#boards-nav {
    cursor: pointer;
}

#home-nav a {
    outline: none;
    text-decoration: none;
    color: inherit;
}

/**
*   search-nav
*/
#search-nav {
    position: relative;
    width: 180px;
    padding: 0;
    text-align: left;
}
#search-nav #show-search-input {
    margin: 0;
    padding: 0;
    height: 32px;
    cursor: text;
}
#search-nav .close-search-btn,
#search-nav .search-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: scaleX(-1);
    cursor: pointer;
    width: 32px;
    height: 32px;
    text-align: center;
    padding-top: 7px;
}
#search-nav #search-input {
    margin: 7px;
    font-size: 16px;
    padding: 0;
    width: 300px;
    border: 0;
}
.search-extended {
    width: 375px!important;
    background: white!important;
    color: black!important;
}

/********************/
/*  Boards Sidebar  */
/********************/
.boards-sidebar {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 283px;
    height: 100%;

    padding: 44px 4px 4px 0px;
    display: none;
}

#sideboards-content {
    width: 100%;
    height: auto;
    max-height: 100%;
    background: white;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    padding: 10px;
    overflow: scroll;
}

.team-item {
    margin-bottom: 10px;
}

.team-item .team-heading {
    position: relative;
    padding-left: 10px;
    height: 35px;
    margin-bottom: 5px;
}

.team-item .team-name {
    margin-left: 30px;
    padding-top: 5px;
    
    font-size: 18px!important;
    font-weight: bold;
    color: grey;
}

.team-item .expand-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;

    border-radius: 5px;
    padding-top: 6px;
    text-align: center;
    color: grey;
    font-size: 18px;

    cursor: pointer;
}

.expand-btn:hover {
    background: rgba(0,0,0,0.2);
}

.team-boards {
    display: none;
}

#sideboards-content .board-item {
    position: relative;
    margin-bottom: 5px;

    border-radius: 5px;
    background: rgba(64,163,91,.2);

    cursor: pointer;
    display: block;
}

#sideboards-content .board-icon {
    margin: 0;
    width: 40px;
    height: 40px;

    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    background: rgba(64,163,91,.6);
}

#sideboards-content .board-name {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    color: black;
}

#sideboards-content .board-item:hover {
    background: rgba(64,163,91,.5)!important;
}
#sideboards-content .board-item:hover .board-icon{
    background: rgba(64,163,91,1)!important;
}

/**
*   profile-sidebar
*/
.profile-sidebar {
    position: fixed;
    top: 0;
    right: 4px;
    width: 310px;
    height: 364px;

    padding-top: 44px;
    display: none;
}

.profile-sidebar #profile-content {
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
}


/********************/
/*  Notifications   */
/********************/
#notifications-nav:hover {
    cursor: pointer;
}

.notifications-sidebar {
    position: fixed;
    top: 0;
    right: 4px;
    width: 420px;
    height: 542px;

    padding-top: 44px;
    display: none;

    font-size: 16px;
}

#notifications-content {
    width: 100%;
    height: 100%;
    background: white;

    border: 1px solid grey;
    border-radius: 5px;

    padding: 0 10px 10px 10px;
}

#notifications-content .heading {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid grey;
    text-align: center;
    font-size: 18px;
}

.notification {
    margin-top: 10px;

    border: 1px solid grey;
    border-radius: 5px;

    padding: 10px;
}

.date {
    margin: 0;
    font-size: 12px;
}

.sender-msg {
    margin: 0;
}

.team-msg {
    margin: 0;
    display: inline-block;
}

.btn-wrapper {
    float: right;
}

.accept-btn,
.decline-btn {
    border: 1px solid grey;
    border-radius: 5px;

    cursor: pointer;
}

.accept-btn:hover,
.decline-btn:hover {
    background: grey;
    color: white;
}


/********************/
/*  SEARCH RESULTS  */
/********************/

#search-results {
    position: absolute;
    background: white;
    top: 40px;
    left: 0;
    width: 125%;

    max-height: 500px;
    overflow: scroll;
}

.search-active {
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#card-results,
#board-results {
    padding: 5px;
}

#search-results h4 {
    margin: 10px 0 10px 10px;
}

#search-results a {
    width: 100%;
    padding: 10px;
    display: inline-block;
}

#search-results .card-search-item {
    position: relative;
    margin-bottom: 5px;
}

#search-results .card-link {
    width: 150px;
    margin-left: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

#search-results .card-link:hover {
    background: grey;
}

#search-results .card-link-info,
#search-results .card-link-info strong{
    vertical-align: bottom;
    font-size: 14px;
}

#search-results .card-link-info {
    position: absolute;
    top: 3px;
    left: 160px;
}

.board-link-container {
    width: 250px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
}

.board-link-container:hover {
    background: grey;
}