* {
    box-sizing: border-box;
    outline : none;
}
html, body {
    position: relative;
    min-width: 100%;
    width: max-content;
    min-height: 100%;
    height: 100%;

    margin: 0;
    font-size: 0;
}

body {
    background: #4bbf6b;
}

.active {
    display: block!important;
}

.table-cell-active {
    display: table-cell!important;
    vertical-align: top!important;
}

a {
    font-size: 16px;
}

#content {
    padding: 60px 10px 20px 10px;
    display: table;
    border-spacing: 10px;
    
    display: block;
    max-height: 100%;
    overflow-y: hidden;
}

.list {
    margin: 0 5px;
    padding: 0;
    border-radius: 5px;
    font-size: 16px;

    display: table-cell;
}

.list-wrapper {
    position: relative;

    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    background: #e2e4e6;

    display: block;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

h2 {
    padding: 20px;
    margin: 0;
    cursor: pointer;
}

.list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 256px;
    padding-bottom: 38px;
}

.card {
    position: relative;
    width: 236px;
    margin: 0 10px 10px 10px;
    padding: 10px;

    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    background: white;

    word-wrap: break-word;
    cursor: pointer;
}

.newCardInput {
    position: absolute;
    top: -1px;
    width: 236px;
    height: 58px;
    padding: 8px 10px!important;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
.textarea-active {
    padding: 0!important;
    height: 58px;
}
/* .card:hover {
    background: rgba(0,0,0,.2);
} */
.li-options-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 4px;
}
.li-options-btn:hover {
    background: rgba(0,0,0,.4);
}



.card-container {
    position: relative;
    min-height: 50px;
    min-width: 300px;
    width: auto;
    overflow-y: scroll;
}

.list-foot {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#showCardForm:hover {
    cursor: pointer;
    background: grey;
}

#showCardForm,
#cardForm {
    display: none;
    padding: 10px;
}


/** draggable */
.card.draggable-source--is-dragging,
.draggable-source--is-dragging * {
    background: grey!important;
    color: grey!important;
}







#addColumnBtn {
    width: 272px;
    height: 42px;
    padding: 10px 20px;

    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    background: rgba(0,0,0,.1);
    border: 1px solid transparent;
    border-radius: 5px;

    text-align: left;
    font-size: 16px;
    color: white;

    cursor: pointer;
    display: none;
}

#newColumnForm {
    width: 272px;
    height: 78px;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    background: #e2e4e6;

    vertical-align: top;
    display: none;
}

#listTitleInput {
    width: 260px;
    height: 30px;
    margin: 5px 5px 0 5px;
    padding: 0 10px;

    border: 1px solid black;
    border-radius: 5px;

    font-size: 13px;
}

#newColSubmit {
    width: 90px;
    height: 32px;
    margin: 5px;
    padding: 0;

    border: 0;
    border-radius: 5px;
    background: #5aac44;
    color: white;

    font-size: 16px;

    cursor: pointer;
    vertical-align: top;
    display: inline-block;
}

#closeColumnFormBtn {
    height: 32px;
    width: 32px;
    margin: 5px 5px 5px 0;
    padding: 0;

    border: 0;
    border-radius: 5px;
    background: rgba(0,0,0,0);

    font-size: 16px;

    cursor: pointer;
    vertical-align: top;
    display: inline-block;
}







/** card info modal */
.card-info-modal {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    overflow-y: scroll;
    z-index: 100;
}

.card-info-modal * {
    box-sizing: border-box;
}

.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
}

.card-info-modal i {
    font-size: 20px;
    padding: 12px;
    margin-right: 8px;
}

.card-info-modal span {
    font-size: 20px;
}

.modal-info-container {
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;

    border-radius: 5px;

    width: fit-content;
    background: white;
}

.modal-info-container .main {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 770px;
    min-height: 610px;
    height: auto;
    background: white;

    border-radius: 5px;

    list-style-type: none;
    padding: 20px;
    font-size: 16px;
}

#close-modal-info-btn i {
    position: absolute;
    right: 5px;
    top: 5px;

    font-size: 20px;
    margin: 0!important;
    cursor: pointer;
}

/** Title */
#title-content h3 {
    margin: 0;
}

/** Labels */
#labels-content {
    margin-top: 20px;
}

.labels-container {
    position: relative;
    margin-left: 52px;
    width: 650px;

    border: 1px solid black;
    border-radius: 5px;

    padding: 5px;
    font-size: 0;
    cursor: text;
}

.label {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;

    font-size: 16px;
    padding: 10px;
    cursor: default;
}

#label-input  {
    box-sizing: border-box;
    display: inline-block;
    /* border: 1px solid rgba(0,0,0,.1); */
    margin: 6px 5px 5px 5px;

    max-width: 100%;
    width: auto;
    height: 40px;
    max-height: 40px;

    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    font-size: 16px;
}
#label-input  br {
    display:none;
}

/** Description */
#description-content {
    margin-top: 20px;
    width: 100%;
}
#description {
    margin-left: 50px;
    width: 650px;
    height: 60px;

    border: 1px solid black;
    border-radius: 5px;

    padding: 10px;
    cursor: pointer;
}

.fa-list {
    margin-right: 13px!important;
}

#description.editable {
    cursor: text!important;
}

/** New Comment */
#comment-content {
    margin-top: 20px;
    width: 100%;
}

.profile-new-comment {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #ebebeb;
    color: black;
    
    text-align: center;
    padding-top: 8px;

    display: inline-block;
}

#comment-form {
    margin-left: 11px;

    display: inline-block;
    vertical-align: top;
}

#comment-content #comment-input {
    width: 650px;
    height: 80px;
    resize: none;

    border: 1px solid black;
    border-radius: 5px;

    padding: 10px;
}

#save-comment {
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

#save-comment:hover:enabled {
    cursor: pointer;
    background: rgba(0,0,0,.1);
}

/** Activity */
#activity-content {
    margin: 25px 0;
}
 
#activity-container {
    margin-left: 52px;
}

.activity-item {
    position: relative;
    border-bottom: 1px solid black;
    width: 650px;
    padding-bottom: 10px;
}

.activity-item-profile {
    position: absolute;
    top: 5px;
    left: -50px;

    border-radius: 100%;
    width: 35px;
    height: 35px;

    background: #ebebeb;
    color: black;

    text-align: center;
    padding-top: 8px;
}

.activity-item-heading {
    padding-top: 10px;
}

.activity-item-date {
    font-size: 12px!important;
}

.activity-item-body {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    margin: 10px 0;
}







































/* 
 *  card options modal 
 */
.card-options-modal {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
}
.card-input {
    position: absolute;
    width: 236px;
    height: 200px;
    padding: 8px 10px;
    resize: none;
}
.modal-save {
    position: absolute;
}

.modal-active {
    overflow: hidden;
}

.labels-container .label .del-label-btn,
.labels-container .label .label-name {
    margin-right: 0;
    font-size: 16px;
}

.labels-container .label .del-label-btn {
    padding: 0 5px 0 10px;
    cursor: pointer;
}